<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My First Chart</title>
        <link href="nv.d3.css" rel="stylesheet" type="text/css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='nv.d3.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='d3.v3.js') }}"></script>
        <script src="{{ url_for('static', filename='nv.d3.js') }}"></script>
    </head>
    <div class=page>
     <h1>My Chart </h1>
    {% block body %}
        <svg style='height:400px'/>

        <script src="{{ url_for('static', filename='mychart.js') }}"></script>
    {% endblock %}
</html>
